<div class="row" *ngFor="let content of contents">
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>{{content.userName}}</strong></p>
      </div>

      <img class="card-img" [src]="content.imageUrl" />
      
      <div class="card-body">
        <p class="card-text">
          <strong>{{content.userName}}</strong> {{content.title}}
        </p>

        <hr />
        <input 
          type="text" 
          class="form-control comment"
          placeholder="Adicione um comentário..." 
        />
      </div>
    </div>
  </div>
</div>